<html>
    <head>
        <title>Colitas Makú</title>
        <meta charset="UTF-8">
        <link href="css/Estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div>
                <img src="comidaFondoRosa.jpg" alt=""/>
                <nav>
                    <ul>
                        <li><a href="#">Logo</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="catalogo.html">Catálogo</a></li><!-- Andrés -->
                        <li><a href="iniciarSesion.html">Iniciar Sesion</a></li><!-- Eduardo -->
                        <li><a href="registrarse.html">Registro</a></li><!-- Eduardo -->
                        <li><a href="carrito.html">Carrito</a></li>
                        <li><a href="/admin/categoria/listado">Categoria Admin</a></li><!-- Jostin -->
                        <li><a href="/admin/articulo/listado">Articulo Admin</a></li><!-- Jostin -->
                        <li><a href="/admin/usuario/listado">Usuario Admin</a></li><!-- Jostin -->
                        <li><a href="#">Información de Clientes</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section>
            <header>
                <h1>La mejor repostería<br>para tu mascota</h1> 
                <p>100% Artesanal</p>
                <figure>
                    <img src="Rosa.jpg" alt="Comida de Perro Rosada" width="250" height="350"/>
                </figure>
            </header>
            <h3 style= "text-align: center;" >Categorías</h3>
            <figure>
                <figcaption>Repostería<br>Dulce</figcaption>
                <figcaption>Repostería<br>Salada</figcaption>
                <figcaption>Repostería<br>Halloween-<br>Temporada</figcaption>
            </figure>
        </section>
        <footer style="text-align: center">
            "Mi meta en la vida es ser tan<br>maravilloso como mi perro cree que<br>soy"
        </footer>
    </body>
</html>
