<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">>
    
    <head>
        <title>Colitas Maku | Administrador | Articulos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Informacion de Articulos</h2>
        <a th:href="@{/admin/articulo/nuevo}">Nuevo Articulo</a>

        <div th:if="${articulos !=null and !articulos.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Activo</th>
                    <th>Categoria</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>

                </tr>
                <tr th:each="articulo : ${articulos}">
                    <td>[[${articulo.nombre}]]</td>
                    <td>[[${articulo.descripcion}]]</td>
                    <td>[[${articulo.precio}]]</td>
                    <td>[[${articulo.cantidad}]]</td>
                    <td>[[${articulo.activo}]]</td>
                    <td>[[${articulo.idCategoria}]]</td>
                    <td><a th:href="@{/admin/articulo/eliminar/}+${articulo.idArticulo}">Eliminar</td>
                    <td><a th:href="@{/admin/articulo/modificar/}+${articulo.idArticulo}">Modificar</td>

                </tr>
            </table>
        </div>
        <div th:if="${articulos ==null or articulos.empty}">
            <h2>No hay articulos que mostrar</h2>
    </body>
</html>
