<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Colitas Makú</title>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"/>

        <section th:fragment="listadoCategorias" id="categorias">
            <div class="container">
                <h2 class="inline" th:text="#{index.categoria}">Categorias</h2>
                <div class="row row-cols-3">
                       

                    <a th:href="@{/articulo/busqueda/1}">
                        <figure>
                            <img src="/img/queque.jpg" alt="a" width="250"/>
                            <figcaption>Repostería<br>Dulce</br></figcaption>
                        </figure>
                        </button>
                    </a>
                    <a th:href="@{/articulo/busqueda/1}">
                        <figure>
                            <img class="rounded float-left" src="/img/salado.jpg" alt="b" width="250"/>
                            <figcaption>Repostería<br>Salada</br></figcaption>
                        </figure>
                    </a>
                    <a th:href="@{/articulo/busqueda/1}">
                        <figure>
                            <img src="Imagen de WhatsApp 2022-11-08 a las 20.16.26.jpg" alt="c" width="250"/>
                            <figcaption>Repostería<br>Halloween-Temporada</br></figcaption>
                        </figure>
                    </a>
                    
                </div>
        </section>



    </body>
</html>
