<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Colitas Makú</title>
    </head>

    <body>
        <header th:replace="layout/plantilla :: header"/>

        <section th:fragment="listadoArticulos" id="articulos">
            <div class="container">
                <div class="row row-cols-2">
                    <h2 class="inline" th:text="#{index.titulo}">Nuestros Articulos</h2>   
                    <div id="resultsBlock"></div>
                </div>

                <div class="row row-cols-3 mb-2" th:if="${articulos !=null and !articulos.empty}">
                    <div class="card" th:each="articulo : ${articulos}">
                        <div class="card-body">
                            <h5 class="card-title">[[${articulo.descripcion}]]</h5>
                            <figure>
                                <img th:src="@{${articulo.url}}" class="card-img-top" width="120">  
                                    <figcaption>
                                        [[${#numbers.formatDecimal(articulo.precio,3,2)}]]
                                    </figcaption>
                            </figure>
                            <form>
                                <input type="hidden" name="texto" th:value="${articulo.idArticulo}"/>
                                <input type="hidden" name="texto" th:value="${articulo.cantidad}"/>
                                <button class="btn btn-ligth" 
                                        id="addCar" 
                                        name="addCar" 
                                        onclick="addCard(this.form)" 
                                        type="button">
                                    <i class="fas fa-cart-plus"></i>
                                </button>
                            </form>
                            <h6 class="card-subtitle mb-2 text-muted text-end">
                            </h6>

                        </div>
                    </div>
                </div>
        </section>

        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">
            <form action="/carrito/listado">
                <button 
                    type="submit" 
                    class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>[[#{carrito.verCarrito}]] [[${listaTotal}]] </button>
            </form>
        </div>

        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{carrito.titulo}]]</h4><!--Checkear esto en el mío-->
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{articulo.descripcion}]]</th>
                                            <th>[[#{articulo.precio}]]</th>
                                            <th>[[#{carrito.cantidad}]]</th>
                                            <th>[[#{carrito.total}]]</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${item.descripcion}]]</td>
                                            <td class="text-end">[[${new java.text.DecimalFormat('#,##0.00').format(item.precio)}]]</td>
                                            <td class="text-center">[[${new java.text.DecimalFormat('#,##0.00').format(item.cantidad)}]]</td>
                                            <td class="text-center">[[${new java.text.DecimalFormat('#,##0.00').format(item.precio*item.precio)}]]</td>
                                            <td>
                                                <a th:href="@{/carrito/eliminar/}+${item.idArticulo}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/carrito/modificar/}+${item.idArticulo}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items == null or items.empty}">
                                <span th:text="#{cliente.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{carrito.totalCompra}]]</h3>
                                <h4 class="display-6">
                                    [[${new java.text.DecimalFormat('#,##0.00').format(carritoTotal)}]]
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/}" class="btn btn-success">
                                    <i class="fas fa-reply"></i> [[#{carrito.seguirComprando}]]
                                </a>
                            </div>
                        </div>
                        <div class="card text-center bg-info text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/facturar/carrito}" class="btn btn-info">
                                    <i class="fas fa-forward"></i> [[#{carrito.facturar}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarUsuario">
            <div id="agregarUsuario" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/usuario/guardar}" th:object="${usuario}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{cliente.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>

                                <div class="form-group">
                                    <label for="email" th:text="#{cliente.correo}">Correo</label>
                                    <input type="email" class="form-control" name="correo" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telefono" th:text="#{cliente.telefono}">Teléfono</label>
                                    <input type="tel" class="form-control" name="telefono">
                                </div>
                                <div class="form-group">
                                    <label for="limite" th:text="#{cliente.limite}">Límite</label>
                                    <input type="number" class="form-control" name="credito.limite" required="true" step="any">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <section th:fragment="editarCarrito">            
            <div class="container">
                <div class="row row-cols-6">
                    <a th:href="@{/carrito/listado}" class="btn btn-primary">
                        <i class="fas fa-reply"></i> [[#{accion.regresar}]]
                    </a>
                </div>
                <div class="row row-cols-2">
                    <div class="card">
                        <div class="card-header">
                            [[#{articulo.datos}]]
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">[[${item.descripcion}]]</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-end">
                                [[${new java.text.DecimalFormat('#,##0.00').format(item.precio)}]]+' ('+item.cantidad+')'}]]
                            </h6>
                            <p class="card-text">[[${item.descripcion}]]</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <figure>
                                <img th:src="@{${item.url}}" class="card-img-top" width="120"> 
                            </figure>
                            <form th:action="@{/carrito/guardar}" method="post" th:object="${item}">
                                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
                                <div class="form-group">
                                    <label for="cantidad">[[#{carrito.cantidad}]]:</label>
                                    <input type="number" name="cantidad" th:field="*{cantidad}" min="1" th:max="${item.cantidad}"/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit" name="guardar">
                                        <i class="fas fa-save"></i> [[#{accion.guardar}]]
                                    </button>
                                </div> 
                            </form>
                            <a th:href="@{/carrito/eliminar/}+${item.idArticulo}" class="btn btn-danger">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
